<h1>Edit Recipe</h1>
<h2><%= @recipe.name %></h2>

<%= render 'form' %>

<%= link_to 'Show Recipe', @recipe, class: "btn btn-mini" %>
<%= link_to 'Back to Recipe Listing', recipes_path, class: "btn btn-mini" %>
