/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/* @import "bootswatch/spacelab/variables";
@import "bootswatch/simplex/variables"; */
@import "bootswatch/spruce/variables";
@import "bootstrap";

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url(https://themes.googleusercontent.com/static/fonts/ubuntu/v4/vRvZYZlUaogOuHbBTT1SNevvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}

body { padding-top: 75px; }

a {
  &:link { color: #fff; }
  &:visited { color: #fff; }
}

.crud-links {
  margin-top: 20px;
}

.login-status-msg {
  text-align: right;
  padding-top: 8px;
  font-size: 0.8em;
 }

.login-status-nav {
  text-align: right;
  font-size: 0.9em;
}

.modal-header {
  background-color: #778C70;
}

.modal-body {
  background-color: #C4C7AB;
}

.form-horizontal {
  .controls {
    margin-left: 0px;
  }
}

h3 { font-size: 2em !important; }
h4 { font-size: 1.6em !important; }
h5 { font-size: 1.2em !important; }

h2 {
  color: lighten(#EBD90B, 35%) !important;
}

h3 {
  // color: lighten($blueDark, 20%);
  color: #013435 !important;
}

.btn-pad {
  padding-right: 30px;
}

//margin-left: 0 auto;
//margin-right: 0 auto;

// CSS Pertaining to the footer follows ...
//
// Extra CSS for making the footer 'sticky' to the bottom of the window
//* {
//  margin: 0;
//}

////html, body {
//  height: 100%;
//}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -20px; /* the bottom margin is the negative value of the footer's height */
}
.push {
  height: 20px;
  // height: 142px; /* .push must be the same height as .footer */
}

.footer {
  margin-top: 35px;
  padding: 10px;
  border-top: 1px solid #939393;
  border-bottom: 2px solid #939393;
  background-color: #eee;
  color: #999;
}

@import "bootstrap-responsive";
@import "bootswatch/spruce/bootswatch";
