// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.add-new-btn {
  //margin-left: 685px;
}

#recipe-listing {
  float: left;
  margin-top: 15px;
  //table {
  //  padding: 15px;
  //}
  .thumb {
    width: 60px;
    padding: 20px 0px 30px 20px;
  }
  .overview {
    //width: 400px;
    padding: 20px 0px 30px 15px;
  }
  .actions {
    //width: 100px;
    text-align: center;
    padding: 20px 20px 30px 0px;
  }
  .btn {
    margin: 5px;
  }
}

#sidebar {
  width: 325px;
}

#tag_cloud {
  line-height: 1.6em;
  .xs { font-size: 0.8em; }
  .s { font-size: 1em; }
  .m { font-size: 1.3em; font-weight: bold; }
  .l { font-size: 1.6em; }
  .xl { font-size: 2em; font-weight: bold; }
}

.img-polaroid {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
}

a.recipe-name-link {
  font-size: 1.4em;
  font-weight: bold;
  &:link { color: #197778; }
  &:visited { color: #197778; }
}

#recipe {
  background-color: #C3C7AE;
  padding: 20px 20px 30px 20px;
  //margin-left: -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  border-radius: 6px 6px 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
  .image {
    float: left;
    width: 200px;
    margin-right: 20px;
  }
  .overview {
  }
  .main-details {
  }
}